server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: {{ system_promtail_loki_url }}
    basic_auth:
      username: "{{ system_promtail_loki_username }}"
      password: "{{ system_promtail_loki_password }}"

# System logs
scrape_configs:
- job_name: system
  static_configs:
  - targets:
      - localhost
    labels:
      job: varlogs
      host: ${HOST}
      __path__: /var/log/**/*{log,msg,err,warn,info,NetworkManager,acpid,btmp,firewall,firewalld,mail,messages,wtmp}

# Docker logs
- job_name: docker
  pipeline_stages:
    - docker: {}
  static_configs:
  - targets:
      - localhost
    labels:
      job: docker
      __path__: /var/lib/docker/containers/*/*-json.log
