[submodule "roles/ansible-role-archisteamfarm"]
	path = roles/ansible-role-archisteamfarm
	url = https://github.com/ursinn/ansible-role-archisteamfarm.git
[submodule "roles/ansible-role-bazarr"]
	path = roles/ansible-role-bazarr
	url = https://github.com/ursinn/ansible-role-bazarr.git
[submodule "roles/ansible-role-beets"]
	path = roles/ansible-role-beets
	url = https://github.com/ursinn/ansible-role-beets.git
[submodule "roles/ansible-role-boinc"]
	path = roles/ansible-role-boinc
	url = https://github.com/ursinn/ansible-role-boinc.git
[submodule "roles/ansible-role-calibre"]
	path = roles/ansible-role-calibre
	url = https://github.com/ursinn/ansible-role-calibre.git
[submodule "roles/ansible-role-calibre-web"]
	path = roles/ansible-role-calibre-web
	url = https://github.com/ursinn/ansible-role-calibre-web.git
[submodule "roles/ansible-role-couchpotato"]
	path = roles/ansible-role-couchpotato
	url = https://github.com/ursinn/ansible-role-couchpotato.git
[submodule "roles/ansible-role-deluge"]
	path = roles/ansible-role-deluge
	url = https://github.com/ursinn/ansible-role-deluge.git
[submodule "roles/ansible-role-dillinger"]
	path = roles/ansible-role-dillinger
	url = https://github.com/ursinn/ansible-role-dillinger.git
[submodule "roles/ansible-role-docker"]
	path = roles/ansible-role-docker
	url = https://github.com/ursinn/ansible-role-docker.git
[submodule "roles/ansible-role-docker-custom"]
	path = roles/ansible-role-docker-custom
	url = https://github.com/ursinn/ansible-role-docker-custom.git
[submodule "roles/ansible-role-dokuwiki"]
	path = roles/ansible-role-dokuwiki
	url = https://github.com/ursinn/ansible-role-dokuwiki.git
[submodule "roles/ansible-role-duplicati"]
	path = roles/ansible-role-duplicati
	url = https://github.com/ursinn/ansible-role-duplicati.git
[submodule "roles/ansible-role-emby"]
	path = roles/ansible-role-emby
	url = https://github.com/ursinn/ansible-role-emby.git
[submodule "roles/ansible-role-embystat"]
	path = roles/ansible-role-embystat
	url = https://github.com/ursinn/ansible-role-embystat.git
[submodule "roles/ansible-role-emulatorjs"]
	path = roles/ansible-role-emulatorjs
	url = https://github.com/ursinn/ansible-role-emulatorjs.git
[submodule "roles/ansible-role-endlessh"]
	path = roles/ansible-role-endlessh
	url = https://github.com/ursinn/ansible-role-endlessh.git
[submodule "roles/ansible-role-fail2ban"]
	path = roles/ansible-role-fail2ban
	url = https://github.com/ursinn/ansible-role-fail2ban.git
[submodule "roles/ansible-role-firewall"]
	path = roles/ansible-role-firewall
	url = https://github.com/ursinn/ansible-role-firewall.git
[submodule "roles/ansible-role-foldingathome"]
	path = roles/ansible-role-foldingathome
	url = https://github.com/ursinn/ansible-role-foldingathome.git
[submodule "roles/ansible-role-freshrss"]
	path = roles/ansible-role-freshrss
	url = https://github.com/ursinn/ansible-role-freshrss.git
[submodule "roles/ansible-role-grafana"]
	path = roles/ansible-role-grafana
	url = https://github.com/ursinn/ansible-role-grafana.git
[submodule "roles/ansible-role-grocy"]
	path = roles/ansible-role-grocy
	url = https://github.com/ursinn/ansible-role-grocy.git
[submodule "roles/ansible-role-headphones"]
	path = roles/ansible-role-headphones
	url = https://github.com/ursinn/ansible-role-headphones.git
[submodule "roles/ansible-role-healthchecks"]
	path = roles/ansible-role-healthchecks
	url = https://github.com/ursinn/ansible-role-healthchecks.git
[submodule "roles/ansible-role-hedgedoc"]
	path = roles/ansible-role-hedgedoc
	url = https://github.com/ursinn/ansible-role-hedgedoc.git
[submodule "roles/ansible-role-heimdall"]
	path = roles/ansible-role-heimdall
	url = https://github.com/ursinn/ansible-role-heimdall.git
[submodule "roles/ansible-role-homeassistant"]
	path = roles/ansible-role-homeassistant
	url = https://github.com/ursinn/ansible-role-homeassistant.git
[submodule "roles/ansible-role-jellyfin"]
	path = roles/ansible-role-jellyfin
	url = https://github.com/ursinn/ansible-role-jellyfin.git
[submodule "roles/ansible-role-jenkins"]
	path = roles/ansible-role-jenkins
	url = https://github.com/ursinn/ansible-role-jenkins.git
[submodule "roles/ansible-role-keycloak"]
	path = roles/ansible-role-keycloak
	url = https://github.com/ursinn/ansible-role-keycloak.git
[submodule "roles/ansible-role-lazylibrarian"]
	path = roles/ansible-role-lazylibrarian
	url = https://github.com/ursinn/ansible-role-lazylibrarian.git
[submodule "roles/ansible-role-librespeed"]
	path = roles/ansible-role-librespeed
	url = https://github.com/ursinn/ansible-role-librespeed.git
[submodule "roles/ansible-role-lidarr"]
	path = roles/ansible-role-lidarr
	url = https://github.com/ursinn/ansible-role-lidarr.git
[submodule "roles/ansible-role-loki"]
	path = roles/ansible-role-loki
	url = https://github.com/ursinn/ansible-role-loki.git
[submodule "roles/ansible-role-mariadb"]
	path = roles/ansible-role-mariadb
	url = https://github.com/ursinn/ansible-role-mariadb.git
[submodule "roles/ansible-role-medusa"]
	path = roles/ansible-role-medusa
	url = https://github.com/ursinn/ansible-role-medusa.git
[submodule "roles/ansible-role-mstream"]
	path = roles/ansible-role-mstream
	url = https://github.com/ursinn/ansible-role-mstream.git
[submodule "roles/ansible-role-mylar3"]
	path = roles/ansible-role-mylar3
	url = https://github.com/ursinn/ansible-role-mylar3.git
[submodule "roles/ansible-role-netbootxyz"]
	path = roles/ansible-role-netbootxyz
	url = https://github.com/ursinn/ansible-role-netbootxyz.git
[submodule "roles/ansible-role-nextcloud"]
	path = roles/ansible-role-nextcloud
	url = https://github.com/ursinn/ansible-role-nextcloud.git
[submodule "roles/ansible-role-node-exporter"]
	path = roles/ansible-role-node-exporter
	url = https://github.com/ursinn/ansible-role-node-exporter.git
[submodule "roles/ansible-role-nzbget"]
	path = roles/ansible-role-nzbget
	url = https://github.com/ursinn/ansible-role-nzbget.git
[submodule "roles/ansible-role-nzbhydra"]
	path = roles/ansible-role-nzbhydra
	url = https://github.com/ursinn/ansible-role-nzbhydra.git
[submodule "roles/ansible-role-oh-my-zsh"]
	path = roles/ansible-role-oh-my-zsh
	url = https://github.com/ursinn/ansible-role-oh-my-zsh.git
[submodule "roles/ansible-role-ombi"]
	path = roles/ansible-role-ombi
	url = https://github.com/ursinn/ansible-role-ombi.git
[submodule "roles/ansible-role-overseerr"]
	path = roles/ansible-role-overseerr
	url = https://github.com/ursinn/ansible-role-overseerr.git
[submodule "roles/ansible-role-owncloud"]
	path = roles/ansible-role-owncloud
	url = https://github.com/ursinn/ansible-role-owncloud.git
[submodule "roles/ansible-role-papermerge"]
	path = roles/ansible-role-papermerge
	url = https://github.com/ursinn/ansible-role-papermerge.git
[submodule "roles/ansible-role-pihole"]
	path = roles/ansible-role-pihole
	url = https://github.com/ursinn/ansible-role-pihole.git
[submodule "roles/ansible-role-pihole-unbound"]
	path = roles/ansible-role-pihole-unbound
	url = https://github.com/ursinn/ansible-role-pihole-unbound.git
[submodule "roles/ansible-role-pip"]
	path = roles/ansible-role-pip
	url = https://github.com/ursinn/ansible-role-pip.git
[submodule "roles/ansible-role-piwigo"]
	path = roles/ansible-role-piwigo
	url = https://github.com/ursinn/ansible-role-piwigo.git
[submodule "roles/ansible-role-plex"]
	path = roles/ansible-role-plex
	url = https://github.com/ursinn/ansible-role-plex.git
[submodule "roles/ansible-role-postgresql"]
	path = roles/ansible-role-postgresql
	url = https://github.com/ursinn/ansible-role-postgresql.git
[submodule "roles/ansible-role-prometheus"]
	path = roles/ansible-role-prometheus
	url = https://github.com/ursinn/ansible-role-prometheus.git
[submodule "roles/ansible-role-promtail"]
	path = roles/ansible-role-promtail
	url = https://github.com/ursinn/ansible-role-promtail.git
[submodule "roles/ansible-role-pydio-cells"]
	path = roles/ansible-role-pydio-cells
	url = https://github.com/ursinn/ansible-role-pydio-cells.git
[submodule "roles/ansible-role-redis"]
	path = roles/ansible-role-redis
	url = https://github.com/ursinn/ansible-role-redis.git
[submodule "roles/ansible-role-setup"]
	path = roles/ansible-role-setup
	url = https://github.com/ursinn/ansible-role-setup.git
[submodule "roles/ansible-role-smokeping"]
	path = roles/ansible-role-smokeping
	url = https://github.com/ursinn/ansible-role-smokeping.git
[submodule "roles/ansible-role-snipe-it"]
	path = roles/ansible-role-snipe-it
	url = https://github.com/ursinn/ansible-role-snipe-it.git
[submodule "roles/ansible-role-sonarqube"]
	path = roles/ansible-role-sonarqube
	url = https://github.com/ursinn/ansible-role-sonarqube.git
[submodule "roles/ansible-role-ssh"]
	path = roles/ansible-role-ssh
	url = https://github.com/ursinn/ansible-role-ssh.git
[submodule "roles/ansible-role-swag"]
	path = roles/ansible-role-swag
	url = https://github.com/ursinn/ansible-role-swag.git
[submodule "roles/ansible-role-update"]
	path = roles/ansible-role-update
	url = https://github.com/ursinn/ansible-role-update.git
[submodule "roles/ansible-role-uptime-kuma"]
	path = roles/ansible-role-uptime-kuma
	url = https://github.com/ursinn/ansible-role-uptime-kuma.git
[submodule "roles/ansible-role-mailcow"]
	path = roles/ansible-role-mailcow
	url = https://github.com/ursinn/ansible-role-mailcow.git
[submodule "roles/ansible-role-netplan"]
	path = roles/ansible-role-netplan
	url = https://github.com/ursinn/ansible-role-netplan.git
[submodule "roles/ansible-role-k3s"]
	path = roles/ansible-role-k3s
	url = https://github.com/ursinn/ansible-role-k3s.git
[submodule "roles/ansible-role-bgp-bird2"]
	path = roles/ansible-role-bgp-bird2
	url = https://github.com/ursinn/ansible-role-bgp-bird2.git
[submodule "roles/ansible-role-wireguard"]
	path = roles/ansible-role-wireguard
	url = https://github.com/ursinn/ansible-role-wireguard.git
[submodule "roles/ansible-role-alice-lg"]
	path = roles/ansible-role-alice-lg
	url = https://github.com/ursinn/ansible-role-alice-lg.git
