[submodule "roles/ansible-role-archisteamfarm"]
	path = roles/ansible-role-archisteamfarm
	url = https://github.com/ursinn/ansible-role-archisteamfarm.git
[submodule "roles/ansible-role-docker"]
	path = roles/ansible-role-docker
	url = https://github.com/ursinn/ansible-role-docker.git
[submodule "roles/ansible-role-fail2ban"]
	path = roles/ansible-role-fail2ban
	url = https://github.com/ursinn/ansible-role-fail2ban.git
[submodule "roles/ansible-role-firewall"]
	path = roles/ansible-role-firewall
	url = https://github.com/ursinn/ansible-role-firewall.git
[submodule "roles/ansible-role-loki"]
	path = roles/ansible-role-loki
	url = https://github.com/ursinn/ansible-role-loki.git
[submodule "roles/ansible-role-nextcloud"]
	path = roles/ansible-role-nextcloud
	url = https://github.com/ursinn/ansible-role-nextcloud.git
[submodule "roles/ansible-role-node-exporter"]
	path = roles/ansible-role-node-exporter
	url = https://github.com/ursinn/ansible-role-node-exporter.git
[submodule "roles/ansible-role-oh-my-zsh"]
	path = roles/ansible-role-oh-my-zsh
	url = https://github.com/ursinn/ansible-role-oh-my-zsh.git
[submodule "roles/ansible-role-pip"]
	path = roles/ansible-role-pip
	url = https://github.com/ursinn/ansible-role-pip.git
[submodule "roles/ansible-role-promtail"]
	path = roles/ansible-role-promtail
	url = https://github.com/ursinn/ansible-role-promtail.git
[submodule "roles/ansible-role-swag"]
	path = roles/ansible-role-swag
	url = https://github.com/ursinn/ansible-role-swag.git
[submodule "roles/roles/ansible-role-docker2"]
	path = roles/roles/ansible-role-docker2
	url = https://github.com/ursinn/ansible-role-docker2.git
[submodule "roles/roles/ansible-role-ssh"]
	path = roles/roles/ansible-role-ssh
	url = https://github.com/ursinn/ansible-role-ssh.git
